:root { 
            /* CORES VAR */
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --botao-vermelho: #EC2F46;
    --cor-de-fundo: #00030C;
    --cor-de-fundo-click-footer: #F25790;
    --botao-azul-efeito: #3c92fa;
    --black: #050505;
    --white: #fafafa;
    --gray: #c9c9c9;
    --Hacker: #10b981;
    --Hacker2: #3a9878;
    --black2: #0D0D0D;
    --MediumPurple: #2A1A40;
    --DarkPurple: #191026;
    --LightPurple: #5D3B8C;
            /* FONTS VAR */
    --fonte-principal: 'Inter';


}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao {
    background-color: var(--botao-azul);
    border-radius: 50px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    width: 600px
}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.container_aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container_titulo {
    font-size: 28px;
    font-weight: 700;

}

.container_imagem {
    margin: 1em 0 2em 0;
}

.container_caixa {
    margin: 0 6em;
}

.secundario_imagem {
    width: 80%;

}
.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao_titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao_texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container_descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos_titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.dispositivos_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista_item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 0 3em;
}

.rodape_logo {
    margin-bottom: 2em;
}

.rodape_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista_link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape_texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista_link a:hover {
    color: var(--botao-azul);
}

.lista_link a:active {
    color: var(--botao-vermelho);
}

.container_botao:hover {
    background-color: var(--botao-vermelho);
    color: var(--cor-de-fundo);
}